<div class="container">
  <h3 class="pt-3">My Lists</h3>

  <div class="d-flex p-2 bd-highlight flex-wrap">
  <% x = 0 %>
    <% @lists.each do |list| %>
      <% x += 1 %>
      <%= link_to list_path(list), class:"text-decoration-none" do %>
        <% if list.photo.attached? %>
          <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= list.photo.key %>')">
            <%= list.name %>
          </div>
        <% else %>
          <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://picsum.photos/200/300?random=<%= x %>)">
            <%= list.name %>
          </div>
        <% end %>
      <% end %>
    <% end %>

      <%= link_to new_list_path, class:"text-decoration-none" do %>
        <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.8)), url(https://i.pinimg.com/originals/7f/c2/27/7fc2270d1d581f70e27795474b558722.jpg)">
          <i class="fa-solid fa-plus"></i>
        </div>
      <% end %>
  </div>
</div>