<div class="lists">
  <h3>My Lists</h3>

  <div class="list-cards" data-controller="new-list">
  <% x = 0 %>
    <% @lists.each do |list| %>
      <% x += 1 %>
      <%= link_to list_path(list), class:"text-decoration-none" do %>
        <% if list.photo.attached? %>
          <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= list.photo.key %>')">
            <%= list.name %>
          </div>
        <% else %>
          <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://picsum.photos/200/300?random=<%= x %>)">
            <%= list.name %>
          </div>
        <% end %>
      <% end %>
    <% end %>

    <div class="card-category" data-action="click->new-list#displayForm" data-new-list-target="infos" style="background-image: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.8)), url(https://i.pinimg.com/originals/7f/c2/27/7fc2270d1d581f70e27795474b558722.jpg)">
      <i class="fa-solid fa-plus"></i>
    </div>
    <div class="card-category d-none" data-new-list-target="form" style="background: #999 !important;">
      <div class="card-form">
        <h3 class="pt-3">New list</h3>
        <%= simple_form_for @list do |f| %>
          <%= f.input :name, label: false %>
          <div class="form-action">
            <%= f.submit "✔", style: "color: white; border: #17122B; border-radius: 4px; background-color: #CD7640; margin-bottom: 15px; align-item: center; width: 100%; margin 0 auto;" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>

<div class="stars">
  <div class="glowing_stars">
      <div class="star"></div>
      <div class="star"></div>
      <div class="star"></div>
      <div class="star"></div>
      <div class="star"></div>
      <div class="star"></div>
      <div class="star"></div>
      <div class="star"></div>
      <div class="star"></div>
      <div class="star"></div>
    </div>
</div>

<div class="sand"></div>
<div class="bb8">
  <div class="antennas">
    <div class="antenna short"></div>
    <div class="antenna long"></div>
  </div>
  <div class="head">
    <div class="stripe one"></div>
    <div class="stripe two"></div>
    <div class="eyes">
      <div class="eye one"></div>
      <div class="eye two"></div>
    </div>
    <div class="stripe three"></div>
  </div>
  <div class="ball">
    <div class="lines one"></div>
    <div class="lines two"></div>
    <div class="ring one"></div>
    <div class="ring two"></div>
    <div class="ring three"></div>
  </div>
  <div class="shadow"></div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>