<div class="lists">
  <h3><%= @list.name %></h3>
  <div class="list-cards">
    <p><%= link_to "Add a Movie", new_list_bookmark_path(@list), style:"padding: 5px 20px;", class:"search-btn" %></p>
    <p><%= link_to "Delete List", list_path(@list), class:"search-btn", style:"padding: 5px 20px;", data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} %></p>
  </div>

  <div class="d-flex bd-highlight flex-wrap">
    <% @list.bookmarks.each do |bookmark| %>
      <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
            <img src=<%=bookmark.movie.poster_url%> alt="movie poster" style="width: 200px;">
          </div>
          <div class="flip-card-back">
            <div class="comment">
              <%= link_to movie_path(bookmark.movie) do %>
                <p>COMMENT</p>
                <br>
                <p><%= bookmark.comment %></p>
              <% end %>
            </div>
            <div class="bin">
              <%= link_to bookmark_path(bookmark), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}, class:"btn btn-default" do %>
                <i class="fa-solid fa-trash"></i>
              <% end %>
            </div>  
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>