<!DOCTYPE html>
<html>
  <head>
    <title>RailsWatchList</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark sticky-top px-3 pt-4">
      <%= link_to lists_path, class:"navbar-brand" do%>
        <p style="color: cadetblue;" class="fw-bold"><i class="fa-solid fa-film me-2"></i>PAULYN'S WATCH LIST</p>
      <% end %>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item mx-3">
            <p><%= link_to "ADD NEW LIST", new_list_path, class:"nav-link" %></p>
          </li>
          <li class="nav-item">
            <p><%= link_to "ALL MOVIES", movies_path, class:"nav-link" %></p>
          </li>
        </ul>
      </div>
    </nav>
    <%= yield %>
  </body>
</html>
